block content
    .chatbox
        #conversation.conversation
        .inputbox
            input#inputtxtID.inputtxt(type='text' placeholder='type here')
            button#inputbutton.inputbutton(onclick='sendMessage()') Send msg
    script(src="/../../src/chat.js")