//- PLAYER INFO
block content
  .player-info
    p.player-name #[strong Player 1]
    p.player-money #[strong Money]: 8000kr
  template
    .space.property
      .container
        .color-bar.light-blue
          p.propetry-name
          img(src='../images/new-window.png').property-icon