extends layout

block content
  .table
    include playerinfo.pug
    include includes/chancecard.pug
    .board
      img(src='https://img.freepik.com/free-photo/white-textured-concrete_125540-1826.jpg?w=2000' width='990' height='990' style='position: absolute;opacity: 0.3;z-index: 1;')
      .center
        //- h1.title(style='background-color: #f50c2b;color: #fafaf8;padding-left: 13px;padding-right: 5px;text-shadow: -7px 7px #000000;') YLOPONOM
        include includes/dice.pug
      #field-0.space.corner.go
        .container
          .player1-place
            p 1
            .player1-piece
          .player2-place
            p 2
            .player2-piece
          .player3-place
            p 3
            .player3-piece
          .player4-place
            p 4
            .player4-piece
          .instructions Collect $200.00 salary as you pass here
          .go-word go
        .arrow.fa.fa-long-arrow-left
      .row.horizontal-row.bottom-row
        #field-9.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.light-blue
            .name.long-name Amager Strandpark
            .price Kroner 600
        #field-8.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.light-blue
            .name.long-name Flyvergrillen
            .price Kroner 600
        #field-7.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-6.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.light-blue
            .name Islands Brygge
            .price Kroner 600
        #field-5.space.railroad
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name 5C
            i.drawing.fa.fa-subway
            .price Kroner 2500
        #field-4.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-3.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.dark-purple
            .name Frederiksberg
            .price Kroner 3000
        #field-2.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-1.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.dark-purple
            .name Østerbro
            .price Kroner 2500
      #field-10.space.corner.jail
        .just Just
        .drawing
          .container
            .player1-placejail
              p 1
            .player2-placejail
              p 2
            .player3-placejail
              p 3
            .player4-placejail
              p 4
            .name In
            .window
              .bar
              .bar
              .bar
              i.person.fa.fa-frown-o
            .name Jail
        .visiting Visiting
      .row.vertical-row.left-row
        #field-19.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.orange
            .name Aarhus
            .price Kroner 500
        #field-18.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.orange
            .name Aalborg
            .price Kroner 500
        #field-17.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-16.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.orange
            .name Ringkøbing
            .price Kroner 500
        #field-15.space.railroad
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name 18'eren
            i.drawing.fa.fa-subway
            .price Kroner 2500
        #field-14.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.purple
            .name Jespers Torvekøkken
            .price Kroner 750
        #field-13.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.purple
            .name Slusen
            .price Kroner 750
        #field-12.space.utility.electric-company
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Sydhavn Station
            i.drawing.fa.fa-lightbulb-o
            .price Kroner 2500
        #field-11.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.purple
            .name.long-name Grupperumm
            .price Kroner 750
      #field-20.space.corner.free-parking
        .container
          .player1-place
            p 1
          .player2-place
            p 2
          .player3-place
            p 3
          .player4-place
            p 4
          .name Free
          i.drawing.fa.fa-car
          .name Parking
      #field-21.row.horizontal-row.top-row
        .space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.red
            .name Herlev
            .price Kroner 500
        #field-22.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question.blue
        #field-23.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.red
            .name Hvidovre
            .price Kroner 500
        #field-24.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.red
            .name Ørslev
            .price Kroner 500
        #field-25.space.railroad
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Nørreport Station
            i.drawing.fa.fa-subway
            .price Kroner 2500
        #field-26.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.yellow
            .name Valby
            .price Kroner 600
        #field-27.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.yellow
            .name Sydhavn
            .price Kroner 650
        #field-28.space.utility.waterworks
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name 7A
            i.drawing.fa.fa-tint
            .price Kroner 2500
        #field-29.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.yellow
            .name Nørrebro
            .price Kroner 600
      #field-30.space.corner.go-to-jail
        .container
          .player1-place
            p 1
          .player2-place
            p 2
          .player3-place
            p 3
          .player4-place
            p 4
          .name Go To
          i.drawing.fa.fa-gavel
          .name Jail
      #field-31.row.vertical-row.right-row
        .space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.green
            .name Hellerup
            .price Kroner 1500
        #field-32.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.green
            .name.long-name Charlotten- lund
            .price Kroner 1500
        #field-33.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-34.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.green
            .name.long-name Gentofte
            .price Kroner 1500
        #field-35.space.railroad
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name.long-name Hovedbane gaarden
            i.drawing.fa.fa-subway
            .price Kroner 2500
        #field-36.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-37.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.dark-blue
            .name Strandvejen
            .price Kroner 5500
        #field-38.space.chance
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .name Chance
            i.drawing.fa.fa-question
        #field-39.space.property
          .container
            .player1-place
              p 1
            .player2-place
              p 2
            .player3-place
              p 3
            .player4-place
              p 4
            .color-bar.dark-blue
            .name Boardwalk
            .price Kroner 400
    if user
      input(type="hidden", id="userID", value=user)
  script(src="/../src/startGame.js")
  script(src="src/chancecard.js") 
  script(src="/../src/board.js")
  script(src='src/playerMovement.js')
  script(src='../src/player.js')
