extends layout 

block content
    h1 YLOPONOM
    form(action='login.php' method='post')
    button#Test(type='button') Test
    .lobby_input
        .lobby_username
            label(for='lobby_username') Username:
            input#username(type='text' name='username')
            button.button-54#submit(type='button') Select name
        .lobby_startgame
            button.button-54#start(type='button' disabled) Start game
    .players
        p1 Players:
        a.playerCount  0/4
    .playerList
    
    script(src="/../src/lobby.js")