// Link to css playerinfo.css
link(rel='stylesheet', href='../styles/playerinfo.css')

// Player info box showing the player name, money and properties owned

// Tabs
.playerinfo-content
  .tabbed
    input#tab1(type='radio' name='css-tabs' checked='')
    input#tab2(type='radio' name='css-tabs')
    ul.tabs
      li.tab
        label(for='tab1') Player info
      li.tab
        label(for='tab2') Properties
    .tab-content
      .playerdata
        h2.userName
        h4.money
        h4.propertiesOwned
      // End turn button id = endbutton
      button#endturn.notPlayersTurn End turn
    .tab-content
      h4 My properties:  
        .cards
          template.cardTemplate
            .card
                h12.cardTitle 
                p.cardPrice 
                p.cardRent